.post_detail {
  margin-bottom: 1.8em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: .4em;
}

.post_detail .tags {
  font-size: 15px;
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: .5em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  font-size: .8em;
  color: #444;
  margin-bottom: .8em;
}

.tags span {
  text-transform: capitalize;
}

.read_display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  text-transform: capitalize;
}

img {
  border: 1px solid #252525;
  width: 100%;
  height: 60%;
  border-radius: 4px;
}