.post_container {
  text-align: center;
}
.post_container h1 {
  font-size: 2.4em;
  margin-top: 2em;
}
.post_container h3 {
  margin-bottom: 0.2em;
}

.post_container p {
  margin-bottom: 3em;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}

.post_image {
  border: 1px solid #252525;
  width: 40%;
  height: 40%;
  border-radius: 4px;
}

.post_center {
  border-radius: 5px;
  margin: 20px 20px 2px 20px;
}

/* .back {
  position: relative;
}

.back a {
  left: 80%;
  top: 10%;
  margin-top: 3em;
} */

.back {
  position: fixed;
  left: 83%;
  top: 80%;
  margin-top: 3em;
}
